.attendance-selection-btns-section {
    width: 95%;
    height: 10%;
    margin: auto;
    margin-top: 2%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.month-btn-container {
    flex-grow: 1;
    margin-left: 2%;
}

.month-btn-container > button:nth-child(2) {
    font-size: 1.1em;
    font-family: sans-serif;
    text-align: center;

    background-color: transparent;
    color: black;
}

.attendance-selection-btns-section > mat-form-field {
    flex-grow: 1;
    margin-top: 2%;
}

.attendance-selection-btns-section > button {
    flex-grow: 1;
    margin-left: 5%;
    margin-right: 2%;

}

.dummy-div {
    flex-grow: 8;
}

.attendance-table-section {
    margin-left: 2%;
    margin-right: 2%;
    margin-top: 2%;
    height: 45% !important;
}

table{
    width: 100%;
    height: 100%;
    color: black;
    text-align: center;

}

th{
    background-color: #e0e0e0;
}

.mat-row .mat-cell {
    border-bottom: 1px solid transparent;
    border-top: 1px solid transparent;
    cursor: pointer;
  }

.mat-header-cell {
    justify-content: center;
    text-align: center;
}

.mat-cell:hover {
    border-color: currentColor;
    font-style: italic;
}

.date-block {
    display: flex;
    flex-direction: column;
    justify-content: center;

}

.td-cell-block-present {
    background-color: rgb(57, 255, 17);
}

.td-cell-block-half {
    background-color: rgb(240, 243, 73);
}

.td-cell-block-leave {
    background-color: rgb(250, 159, 21);
}

.td-cell-block-choliday {
    background-color: rgb(247, 75, 126);
}

.dot {
    height: 8px;
    width: 8px;
    background-color: rgb(0, 0, 0);
    border-radius: 50%;
    display: inline-block;
    margin: auto;
    margin-top: 3%;
  }

.day-selection-section {
    width: 50%;
    height: 10% !important;
    margin: auto;
    margin-top: 2%;
    justify-content: center;

    display: flex;
}

.day-selection-section > mat-radio-group > mat-radio-button, .day-selection-section > label {
    margin: 10px 20px;
}

.radio-present {
    border-bottom: 5px solid rgb(57, 255, 17);
    padding-bottom: 10px;
}

.radio-half {
    border-bottom: 5px solid rgb(240, 243, 73);
    padding-bottom: 10px;
}

.radio-leave {
    border-bottom: 5px solid rgb(250, 159, 21);
    padding-bottom: 10px;
}

.radio-choliday {
    border-bottom: 5px solid rgb(247, 75, 126);
    padding-bottom: 10px;
}

.leave-remarks-section {
    display: flex;
    flex-direction: row;
    height: 6% !important;
    width: 25%;
    margin: auto;
    margin-top: 1%;
}

.leave-remarks-section > mat-form-field {
    flex-grow: 1;
    margin-left: 5%;
    margin-right: 5%;
    font-size: smaller;
}

.leave-remarks-section > button {
    flex-grow: 0.3;
    margin-left: 5%;
    margin-right: 5%;
    background-color: greenyellow;
    margin-top: 2%;
}

.icon-display {
    transform: scale(0.8);
    margin-bottom: 10%;
 }