<section class="add-update-sale-button-section">
    <div class="add-update-sale-button-row">
      <button *ngIf="componentBehaviourFlag" mat-raised-button style="background-color: #2be813; color: black;" (click)="onCreateSale()">CREATE SALE</button>
      <button *ngIf="!componentBehaviourFlag" mat-raised-button style="background-color: #2be813; color: black;" (click)="onUpdateSale()">UPDATE SALE</button>
      <button mat-icon-button (click)="onBack()"><mat-icon class="icon-display" svgIcon="back"></mat-icon></button>
    </div>
</section>
<section class="add-update-sale-container-one" [formGroup]="form">
    <div>
        <mat-form-field appearance="outline">
            <mat-label>Sales date</mat-label>
            <input matInput [matDatepicker]="dp" [formControl]="date">
            <mat-hint align="end">MMMM DD, YYYY</mat-hint>
            <mat-datepicker-toggle matSuffix [for]="dp"></mat-datepicker-toggle>
            <mat-datepicker #dp></mat-datepicker>
        </mat-form-field>
    </div>
      <!-- Customer Data -->
    <div>
      <mat-form-field appearance="outline">
          <mat-label>Customer</mat-label>
          <mat-select formControlName="customer" >
              <mat-option *ngFor="let customer of customers" [value]="customer.clientID">
                  {{customer.clientName}}
              </mat-option>
              </mat-select>
      </mat-form-field>
  </div>   
    <div>
        <mat-form-field appearance="outline">
            <mat-label>Sale Type</mat-label>
            <mat-select formControlName="saleTypeList" >
                <mat-option *ngFor="let sale of saleTypeList" (onSelectionChange)="onSaleTypeChange($event)" [value]="sale.value">
                    {{sale.viewValue}}
                </mat-option>
                </mat-select>
        </mat-form-field>
    </div>      
    <div class="add-product-button-container">
        <button mat-raised-button style="background-color: #1f8612; color: white; height: 100%;" (click)="onAddProduct()">ADD PRODUCT</button>   
    </div>   
</section>

<section @slideDownUp *ngIf="addSaleEntryFlag" class="add-update-sale-add-entry-container">
  <mat-card>
    <mat-card-content [formGroup]="formSaleEntry">

      <div class="add-update-sale-add-entry-container-row-one">
        <mat-form-field appearance="outline">
          <mat-label>Product Group</mat-label>
          <mat-select formControlName="productGroup" >
              <mat-option *ngFor="let product of productGroupFiltered" (onSelectionChange)="onProductGroupChange($event)" [value]="product.value">
                  {{product.viewValue}}
              </mat-option>
              </mat-select>
        </mat-form-field>
        <mat-form-field appearance="outline">
          <mat-label>Product Name</mat-label>
          <mat-select formControlName="productName" >
              <mat-option *ngFor="let product of productsFiltered" (onSelectionChange)="onProductChange($event)" [value]="product.productID">
                  {{product.productName}}
              </mat-option>
              </mat-select>
        </mat-form-field>
        <mat-form-field appearance="outline" floatLabel="always">
          <mat-label>Selling Price</mat-label>
          <input matInput type="number" class="price-right-align" formControlName="sellingPrice" value="{{selectedSellingPrice}}"/>
          <span matPrefix>&#8377;&nbsp;</span>
        </mat-form-field>
        <mat-form-field appearance="outline">
          <mat-label>Quantity</mat-label>
          <input matInput min="1" type="number" formControlName="quantity" (input)="onDiscountAmountChange()" value="{{quantity}}"/>
        </mat-form-field>
        <mat-form-field appearance="outline" floatLabel="always">
          <mat-label>Discount %</mat-label>
          <input matInput min="0" type="number" class="price-right-align" formControlName="discountPercentage" (input)="onDiscountPercentageChange()" value="{{discountPercentage}}"/>
          <span matPrefix>%</span>
        </mat-form-field>
        <mat-form-field appearance="outline" floatLabel="always">
          <mat-label>Discount Amount</mat-label>
          <input matInput min="1" type="number" class="price-right-align" formControlName="discountAmount" (input)="onDiscountAmountChange()" value="{{discountAmount}}"/>
          <span matPrefix>&#8377;&nbsp;</span>
        </mat-form-field>
      </div>
      <div class="add-update-sale-add-entry-container-row-second">
        <mat-form-field class="sale-entry-total-price" appearance="outline" floatLabel="always">
          <mat-label>Gross Price</mat-label>
          <input matInput type="number" class="price-right-align" formControlName="productTotalPrice" value="{{productTotalPrice}}"/>
          <span matPrefix>&#8377;&nbsp;</span>
        </mat-form-field>
        <div class="sale-entry-dummy-div"></div>
        <button class="sale-entry-add-btn" mat-raised-button color="accent" (click)="onAddSaleEntry()"><mat-icon class="icon-display" svgIcon="plus"></mat-icon></button>
        <button class="sale-entry-cancel-btn" mat-icon-button (click)="onSaleEntryCancel()"><mat-icon class="icon-display" style="color: rgb(206, 36, 36);" svgIcon="close"></mat-icon></button>
      </div>
      
    </mat-card-content>
  </mat-card>
  <br>
</section>

<section class="add-update-sale-container-two">

    <section class="product-list-table mat-elevation-z8" tabindex="0">
        <table mat-table [dataSource]="dataSourceProductList">
      
          <!-- Product Group Column -->
          <ng-container matColumnDef="productGroup">
            <th mat-header-cell *matHeaderCellDef> Product Group </th>
            <td mat-cell *matCellDef="let element"> {{element.product.productGroupName}} </td>
          </ng-container>
      
          <!-- Product Name Column -->
          <ng-container matColumnDef="productName">
            <th mat-header-cell *matHeaderCellDef> Product Name </th>
            <td mat-cell *matCellDef="let element"> {{element.product.productName}} </td>
          </ng-container>
      
          <!-- selling price Column -->
          <ng-container matColumnDef="sellingPrice">
            <th mat-header-cell *matHeaderCellDef> Selling Price </th>
            <td mat-cell *matCellDef="let element"> &#8377;&nbsp; {{element.price}} </td>
          </ng-container>

          <!-- Quantity Column -->
          <ng-container matColumnDef="quantity">
            <th mat-header-cell *matHeaderCellDef> Quantity </th>
            <td mat-cell *matCellDef="let element"> {{element.quantity}} </td>
          </ng-container>

          <!-- Discount % Column -->
          <ng-container matColumnDef="discountPercentage">
            <th mat-header-cell *matHeaderCellDef> Discount % </th>
            <td mat-cell *matCellDef="let element"> {{element.discountPercentage | number : '1.2-2'}} </td>
          </ng-container>

          <!-- Discount Amount Column -->
          <ng-container matColumnDef="discountAmount">
            <th mat-header-cell *matHeaderCellDef> Discount Amount </th>
            <td mat-cell *matCellDef="let element"> &#8377;&nbsp; {{element.discountPercentage * element.price * element.quantity / 100 | number : '1.2-2'}} </td>
          </ng-container>

          <!-- Amount Column -->
          <ng-container matColumnDef="amount">
            <th mat-header-cell *matHeaderCellDef> Amount </th>
            <td mat-cell *matCellDef="let element" #input> &#8377;&nbsp; {{(element.price * element.quantity) - (element.price * element.quantity * element.discountPercentage / 100) | number : '1.2-2'}} </td>
          </ng-container>

          <!-- Delete Column -->
          <ng-container matColumnDef="action">
            <th mat-header-cell *matHeaderCellDef> </th>
            <td mat-cell *matCellDef="let element" style="width: 6%;"> <button mat-icon-button (click)="onDeleteSaleEntry(element.product.productID)"><mat-icon class="icon-display" style="color: rgb(206, 36, 36);" svgIcon="close"></mat-icon></button></td>
          </ng-container>
      
          <tr mat-header-row *matHeaderRowDef="displayedColumnsProductList; sticky: true"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumnsProductList;"></tr>
        </table>
        
      </section>
      <div class="no-products-div" *ngIf="!dataSourceProductList.data.length">
        No products added yet..
    </div>

</section>

<section class="add-update-sale-container-three" [formGroup]="form">
    <!-- Remarks -->
    <mat-form-field class="grid-element-1" appearance="outline">
      <mat-label>Remarks</mat-label>
      <input matInput type="text" formControlName="remarks" value="{{remarks}}"/>
      </mat-form-field>
    <!-- Payment Details -->
    <mat-form-field class="grid-element-2" appearance="outline" floatLabel="always">
      <mat-label>Overall Discount %</mat-label>
      <input matInput min="0" max="100" type="number" class="price-right-align" formControlName="overallDiscountPercentage" (input)="onOverallDiscountPercentageChange()" value="{{overallDiscountPercentage}}"/>
      <span matPrefix>%</span>
    </mat-form-field>
    <mat-form-field class="grid-element-3" appearance="outline" floatLabel="always">
      <mat-label>Overall Discount Amount</mat-label>
      <input matInput min="0" type="number" class="price-right-align" formControlName="overallDiscountAmount" (input)="onOverallDiscountAmountChange()" value="{{overallDiscountAmount}}"/>
      <span matPrefix>&#8377;&nbsp;</span>
    </mat-form-field>
    <mat-form-field class="grid-element-4" appearance="outline" floatLabel="always">
      <mat-label>GST %</mat-label>
      <input matInput min="0" max="100" type="number" class="price-right-align" formControlName="gstPercentage" (input)="onGSTpercentageChange()" value="{{gstPercentage}}"/>
      <span matPrefix>%</span>
    </mat-form-field>
    <mat-form-field class="grid-element-5" appearance="outline" floatLabel="always">
      <mat-label>GST Amount</mat-label>
      <input matInput min="0" type="number" class="price-right-align" formControlName="gstAmount" (input)="onGSTamountChange()" value="{{gstAmount}}"/>
      <span matPrefix>&#8377;&nbsp;</span>
    </mat-form-field>
    <mat-form-field class="grid-element-6" appearance="outline" floatLabel="always">
      <mat-label>Transportation Charges</mat-label>
      <input matInput min="0" type="number" class="price-right-align" (input)="setAmounts()" formControlName="transportCharges" value="{{transportCharges}}"/>
      <span matPrefix>&#8377;&nbsp;</span>
    </mat-form-field>
    <mat-form-field class="grid-element-7" appearance="outline" floatLabel="always">
      <mat-label>Misc. Charges</mat-label>
      <input matInput min="0" type="number" class="price-right-align" (input)="setAmounts()" formControlName="miscCharges" value="{{miscCharges}}"/>
      <span matPrefix>&#8377;&nbsp;</span>
    </mat-form-field>
    <mat-form-field class="grid-element-8" appearance="outline" floatLabel="always">
      <mat-label>Payment Terms</mat-label>
      <input matInput min="0" type="number" class="price-right-align" formControlName="paymentTerms" value="{{paymentTerms}}"/>
      <span matSuffix>&nbsp;&nbsp;days</span>
    </mat-form-field>
    <!-- Total Details -->
    <div class="grid-element-9">
      <mat-card>
        <span>Total Amount</span>
        <span style="float: right; font-size: 1.1em;">&#8377; {{totalAmount | number : '1.2-2'}}</span>
      </mat-card>
    </div>
    
</section>
