.add-update-sale-button-section {
    width: 15%;
    height: 10%;
    margin-left: 80%;
}

.add-update-sale-button-row{
    width: 90%;
    height: 50%;

    display: flex;
    flex-direction: row;

    justify-content: space-between;
    align-content: stretch;

    margin: 8% auto 8px auto;
  }

.add-update-sale-button-row > button:first-child {
    flex-grow: 1;
    margin-right: 2%;
}

.add-update-sale-button-row > button:nth-child(2) {
    flex-grow: 0.7;
    height: 100%;
    border-radius: 5%;
    margin-left: 1%;
    background-color: #673BB7;
}

.icon-display {
    transform: scale(1);
    color: white;
 }


.price-right-align {
    text-align: right;
  }
  
  input.price-right-align::-webkit-outer-spin-button,
  input.price-right-align::-webkit-inner-spin-button {
    display: none;
  }
  
  input.price-right-align {
    -moz-appearance: textfield;
  }

.add-update-sale-container-one {
    width: 95%;
    height: 10%;
    margin: auto;
    display: flex;
    flex-direction: row;
    justify-content: stretch;
    align-content: space-around;
}

.add-update-sale-container-one > div {
    flex-grow: 1;
    margin-left: 1%;
    margin-right: 1%;
}

.add-update-sale-container-one > div > mat-form-field {
    width: 100%;
}

.add-product-button-container {
    height: 50%;
    margin-top: 0.3%;
    border-radius: 5%;
}

.add-product-button-container > button {
    width: 90%;
}

.add-update-sale-container-two {
    width: 95%;
    height: 55%;
    margin: auto;
    overflow: auto;

}

.add-update-sale-container-three {
    width: 95%;
    height: 10%;
    margin: auto;
}

.remarks-details-container {
    width: 96%;
    margin: auto;
    margin-top: 1%;
}


.payment-detail-container, .product-details-container, .remarks-details-container{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-content: stretch;
}

.payment-detail-container > mat-form-field, .product-details-container > mat-form-field, .remarks-details-container > mat-form-field{
    flex-grow: 1;
}

.payment-detail-container > mat-form-field{
    margin-right: 2%;
    margin-left: 2%;
}

.product-list-table {
    box-shadow: none;

}

.product-list-table > table {
    width: 100%;
    margin-top: 2%;
}

.no-products-div {
    width: 100%;
    margin-top: 2%;
    font-style: italic;
    text-align: center;
}