<section class="add-update-company-button-section">
    <button mat-icon-button (click)="onBack()"><mat-icon class="icon-display" svgIcon="back"></mat-icon></button>
</section>
<section class="add-update-company-container-one" [formGroup]="form">
    <mat-form-field appearance="outline">
        <mat-label>Company Name</mat-label>
        <input matInput #companyName maxlength="100" formControlName="companyName" value="{{companyName}}"/>
        <mat-hint align="end">{{companyName.value?.length || 0}}/100</mat-hint>
      </mat-form-field>
    <mat-form-field appearance="outline">
        <mat-label>Proprietor Name</mat-label>
        <input matInput #proprietorName maxlength="100" formControlName="proprietorName" value="{{proprietorName}}"/>
        <mat-hint align="end">{{proprietorName.value?.length || 0}}/100</mat-hint>
      </mat-form-field>
    <mat-form-field appearance="outline">
        <mat-label>GSTIN</mat-label>
        <input matInput #gstin minlength="15" maxlength="15" formControlName="gstinNumber" value="{{gstinNumber}}" />
        <mat-hint align="end">{{gstin.value?.length || 0}}/15</mat-hint>
    </mat-form-field>
    <mat-form-field appearance="outline">
        <mat-label>MSME #</mat-label>
        <input matInput #msme minlength="12" maxlength="12" formControlName="msmeNumber" value="{{msmeNumber}}" />
        <mat-hint align="end">{{msme.value?.length || 0}}/12</mat-hint>
    </mat-form-field>
    
    <mat-form-field appearance="outline">
        <mat-label>Primary Contact #</mat-label>
        <input matInput type="tel" formControlName="contact1" pattern="[0-9]{10}" value="{{contact1}}"/>
    </mat-form-field>
    <mat-form-field appearance="outline">
        <mat-label>Secondary Contact #</mat-label>
        <input matInput type="tel" formControlName="contact2" pattern="[0-9]{10}" value="{{contact2}}"/>
    </mat-form-field>
    <mat-form-field appearance="outline">
        <mat-label>Landline</mat-label>
        <input matInput type="tel" formControlName="landline" value="{{landline}}"/>
    </mat-form-field>
    <mat-form-field appearance="outline" floatLabel="always">
        <mat-label>Email</mat-label>
        <input matInput type="email" formControlName="email" value="{{email}}"/>
        </mat-form-field>
    <mat-form-field appearance="outline">
        <mat-label>Address Line 1</mat-label>
        <textarea matInput #inputAddressLine1 maxlength="100" formControlName="addressLine1" value="{{addressLine1}}"></textarea>
        <mat-hint align="end">{{inputAddressLine1.value?.length || 0}}/100</mat-hint>
    </mat-form-field>
    <mat-form-field appearance="outline">
        <mat-label>Address Line 2</mat-label>
        <textarea matInput #inputAddressLine1 maxlength="100" formControlName="addressLine2" value="{{addressLine2}}"></textarea>
        <mat-hint align="end">{{inputAddressLine1.value?.length || 0}}/100</mat-hint>
    </mat-form-field>
    <mat-form-field appearance="outline">
        <mat-label>City / District</mat-label>
        <textarea matInput #inputcity maxlength="50" formControlName="city" value="{{city}}"></textarea>
        <mat-hint align="end">{{inputcity.value?.length || 0}}/50</mat-hint>
    </mat-form-field>
    <mat-form-field appearance="outline">
        <mat-label>State / Province</mat-label>
        <textarea matInput #inputstate maxlength="50" formControlName="state" value="{{state}}"></textarea>
        <mat-hint align="end">{{inputstate.value?.length || 0}}/50</mat-hint>
    </mat-form-field>
    <mat-form-field appearance="outline">
        <mat-label>PIN Code</mat-label>
        <textarea matInput #inputpincode maxlength="6" formControlName="pincode" value="{{pincode}}"></textarea>
        <mat-hint align="end">{{inputpincode.value?.length || 0}}/6</mat-hint>
    </mat-form-field>
    <mat-form-field class="example-full-width" appearance="outline">
        <mat-label>Country</mat-label>
        <input type="text"
                aria-label="Country"
                matInput
                required
                [formControl]="countryControl"
                [matAutocomplete]="auto">
        <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete">
            <mat-option *ngFor="let country of filteredCountryList | async" [value]="country">
            {{country}}
            </mat-option>
        </mat-autocomplete>
    </mat-form-field>

    <div class="last-field-container">
        <mat-form-field class="employee-remarks-field" appearance="outline">
            <mat-label>Remarks</mat-label>
            <textarea matInput #inputremarks maxlength="100" formControlName="remarks" value="{{remarks}}"></textarea>
            <mat-hint align="end">{{inputremarks.value?.length || 0}}/100</mat-hint>
        </mat-form-field>
        <div class="employee-submit-btn">
            <button *ngIf="componentBehaviourFlag" mat-raised-button style="background-color: #2be813; color: black;" (click)="onCreateOrUpdateCompany()">CREATE</button>
            <button *ngIf="!componentBehaviourFlag" mat-raised-button style="background-color: #2be813; color: black;" (click)="onCreateOrUpdateCompany()">UPDATE</button>
        </div>
    </div>    
</section>
