<section class="materials-button-section">
  <div class="materials-title">
    <span>MATERIAL</span>
  </div>
  <div class="materials-button-section-dummy-div">
  </div>
    <div class="materials-button-row">
      <button mat-raised-button color="accent" (click)="openAddDialog()"><mat-icon class="icon-display" svgIcon="plus"></mat-icon></button>
      <button mat-raised-button color="warn" (click)="onRefresh()"><mat-icon class="icon-display" svgIcon="refresh"></mat-icon></button>
    </div>
</section>
<section [ngStyle]="{'height': (dataSource.data.length > 0) ? '70%' : '10%'}" class="materials-table-section">
    <table mat-table [dataSource]="dataSource" matSort (matSortChange)="announceSortChange($event)"
      class="mat-elevation-z8">
  
    <!-- Serial Number Column -->
    <ng-container matColumnDef="serial_number">
      <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by number">
        
      </th>
      <td mat-cell *matCellDef="let element"> {{element.serialNumber}} </td>
    </ng-container>
  
    <!-- Product Name Column -->
    <ng-container matColumnDef="material_name">
      <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by name">
        Material Name
      </th>
      <td mat-cell *matCellDef="let element"> {{element.materialName}} </td>
    </ng-container>

    <!-- To Be in Stock Column -->
    <ng-container matColumnDef="toBeInStock">
      <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by toBeInStock">
        In Purchase Transit
      </th>
      <td mat-cell *matCellDef="let element"> {{element.toBeInStock}} </td>
    </ng-container>
  
    <!-- Stock Column -->
    <ng-container matColumnDef="stock">
      <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by stock">
        Stock
      </th>
      <td mat-cell *matCellDef="let element"> {{element.stock}} </td>
    </ng-container>

    <!-- To Be Consumed Column -->
    <ng-container matColumnDef="toBeConsumed">
      <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by toBeconsumed">
        To Be Consumed
      </th>
      <td mat-cell *matCellDef="let element"> {{element.toBeConsumed}} </td>
    </ng-container>
  
    <!-- Consumed Column -->
    <ng-container matColumnDef="consumed">
      <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by consumed">
        Consumed
      </th>
      <td mat-cell *matCellDef="let element"> {{element.consumed}} </td>
    </ng-container>
  
    <!-- Last Supplied By Column -->
    <ng-container matColumnDef="lastSuppliedBy">
      <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by lastSuppliedBy">
        Last Supplied By
      </th>
      <td mat-cell *matCellDef="let element"> {{element.lastSuppliedBy}} </td>
    </ng-container>
  
    <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
    <tr 
        mat-row 
        *matRowDef="let row; columns: displayedColumns;"
        (click)="onRowClick(row)">
      </tr>
  </table>
  </section>
  <div class="no-materials-div" *ngIf="!dataSource.data.length">
    No materials added yet..
  </div>