<h1 mat-dialog-title>PurchaseS</h1>

<!-- Material Details -->
<mat-dialog-content class="form-container">
  <section class="container-one">
    <mat-form-field appearance="outline">
      <mat-label>Return date</mat-label>
      <input matInput [min]="minReturnDate" [matDatepicker]="dp" [formControl]="date">
      <mat-hint align="end">MMMM DD, YYYY</mat-hint>
      <mat-datepicker-toggle matSuffix [for]="dp"></mat-datepicker-toggle>
      <mat-datepicker #dp></mat-datepicker>
    </mat-form-field>
    <button mat-raised-button style="background-color: #1f8612; color: white; height: 100%;" (click)="onAddMaterial()">ADD MATERIAL</button>   
  </section>
  <section @slideDownUp *ngIf="addPurchaseReturnEntryFlag" class="container-two">
    <mat-card>
      <mat-card-content [formGroup]="formPurchaseReturnEntry">
        <mat-form-field appearance="outline">
          <mat-label>Select Material</mat-label>
          <mat-select formControlName="materialName" >
              <mat-option *ngFor="let prod of materialNameList" (onSelectionChange)="onMaterialSelectChange($event)" [value]="prod.value">
                {{prod.viewValue}}
              </mat-option>
            </mat-select>
        </mat-form-field>
        <mat-form-field appearance="outline">
          <mat-label>Quantity</mat-label>
          <input matInput min="1" max="{{returnQuantityMaxValue}}" type="number" formControlName="returnQuantity" value="{{returnQuantity}}"/>
          <mat-hint align="end">purchased quantity {{returnQuantityMaxValue}}</mat-hint>
        </mat-form-field>
      </mat-card-content>
      <mat-card-actions>
        <button style="transform: scale(1.1);" mat-icon-button (click)="onAddPurchaseReturnEntry()"><mat-icon class="icon-display" svgIcon="plus"></mat-icon></button>
        <button style="float: right" mat-icon-button (click)="onPurchaseReturnEntryCancel()"><mat-icon class="icon-display" svgIcon="close"></mat-icon></button>
      </mat-card-actions>
    </mat-card>
  </section>
  <section class="container-three">
    <section class="material-list-table mat-elevation-z8" tabindex="0">
      <table mat-table [dataSource]="dataSourceMaterialList">
    
        <!-- Material Name Column -->
        <ng-container matColumnDef="materialName">
          <th mat-header-cell *matHeaderCellDef> Material Name </th>
          <td mat-cell *matCellDef="let element"> {{element.material.materialName}} </td>
        </ng-container>
    
        <!-- Net price Column -->
        <ng-container matColumnDef="netPrice">
          <th mat-header-cell *matHeaderCellDef> Net Price </th>
          <td mat-cell *matCellDef="let element"> &#8377;&nbsp; {{element.price}} </td>
        </ng-container>

        <!-- Quantity Column -->
        <ng-container matColumnDef="quantity">
          <th mat-header-cell *matHeaderCellDef> Quantity </th>
          <td mat-cell *matCellDef="let element"> {{element.quantity}} </td>
        </ng-container>

        <!-- Amount Column -->
        <ng-container matColumnDef="amount">
          <th mat-header-cell *matHeaderCellDef> Amount </th>
          <td mat-cell *matCellDef="let element" #input> &#8377;&nbsp; {{(element.price * element.quantity) | number : '1.2-2'}} </td>
        </ng-container>

        <!-- Delete Column -->
        <ng-container matColumnDef="action">
          <th mat-header-cell *matHeaderCellDef> </th>
          <td mat-cell *matCellDef="let element" style="width: 6%;"> <button mat-icon-button (click)="onDeletePurchaseEntry(element.material.materialID)"><mat-icon class="icon-display" style="color: rgb(206, 36, 36);" svgIcon="close"></mat-icon></button></td>
        </ng-container>
    
        <tr mat-header-row *matHeaderRowDef="displayedColumnsMaterialList; sticky: true"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumnsMaterialList;"></tr>
      </table>
      
    </section>
    <div class="no-materials-div" *ngIf="!dataSourceMaterialList.data.length">
      No materials added yet..
  </div>
  </section>  

</mat-dialog-content>

<div mat-dialog-actions *ngIf="editCreate === 'Create'" class="form-button-container">
  <button mat-button (click)="onClose()"><mat-icon svgIcon="close"></mat-icon></button>
  <button mat-button *ngIf="editCreate === 'Create'" cdkFocusInitial (click)="onSave()" [style.background-color]="'#33b249'" [style.color]="'white'">INITIATE RETURN</button>
</div>
<div mat-dialog-actions *ngIf="editCreate === 'Edit'" class="form-button-edit-container">
  <button mat-button (click)="onClose()"><mat-icon svgIcon="close"></mat-icon></button>
  <button mat-button cdkFocusInitial style="background-color: greenyellow; color: black;" (click)="onUpdate()" color="primary">UPDATE RETURN</button>
  <button mat-button cdkFocusInitial style="background-color: red; color: white;" (click)="onCancel()" color="primary">CANCEL RETURN</button>

</div>
