<section class="sales-transact-button-section">
  <div class="sale-status">
    <span style="font-size: 1.5em; font-family: Roboto; text-align: center;">STATUS :</span>
    <span *ngIf="saleStatus === 'Completed'" style="font-size: 1.5em; font-family: Fragment; font-weight: 600; text-align: left; color: green;">{{saleStatus}}</span>
    <span *ngIf="saleStatus === 'Cancelled'" style="font-size: 1.5em; font-family: Fragment; font-weight: 600; text-align: left; color: red;">{{saleStatus}}</span>
    <span *ngIf="saleStatus !== 'Cancelled' && saleStatus !== 'Completed'" style="font-size: 1.5em; font-family: Fragment; font-weight: 600; text-align: left;">{{saleStatus}}</span>
  </div>
    <div class="sales-transact-button-row">
      <button mat-raised-button color="accent" (click)="openAddTransactionDialog()">ADD SALE TRANSACTION</button>
      <button mat-raised-button color="warn" (click)="onRefresh()"><mat-icon class="icon-display" svgIcon="refresh"></mat-icon></button>
      <button mat-icon-button (click)="onBack()"><mat-icon class="icon-display" svgIcon="back"></mat-icon></button>
    </div>
</section>
<section class="sales-data-section">
    <mat-accordion multi>
      <mat-expansion-panel (opened)="panelOpenState = true"
                      (closed)="panelOpenState = false">
          <mat-expansion-panel-header>
          <mat-panel-title>
              SALE DATA
          </mat-panel-title>
          <mat-panel-description>
              {{panelOpenState ? '' : 'Expand to update or delete Sale data'}}
          </mat-panel-description>
          </mat-expansion-panel-header>
          <div class="sales-data">
              <mat-card class="sales-data-section-1">
                <span class="sales-data-key-sections">Sales ID</span>
                <span style="float: right; font-size: 1.1em;">{{selectedSalesID}}</span>
              </mat-card>
              <mat-card class="sales-data-section-2">
                <span class="sales-data-key-sections">Sale Type</span>
                <span style="float: right; font-size: 1.1em;">{{salesDetail.saleType ? salesDetail.saleType : ''}}</span>
              </mat-card>
              <mat-card class="sales-data-section-3">
                <span class="sales-data-key-sections">Sale Date</span>
                <span style="float: right; font-size: 1.1em;">{{(salesDetail.saleDate ? salesDetail.saleDate : '') | date:'MMMM dd, YYY'}}</span>
              </mat-card>
              <mat-card class="sales-data-section-4">
                <span class="sales-data-key-sections">Customer ID</span>
                <span style="float: right; font-size: 1.1em;">{{salesDetail.clienID ? salesDetail.clienID : ''}}</span>
              </mat-card>
              <mat-card class="sales-data-section-5">
                <span class="sales-data-key-sections">Customer Name</span>
                <span style="float: right; font-size: 1.1em;">{{salesDetail.clientName ? salesDetail.clientName : ''}}</span>
              </mat-card>
              <mat-card class="sales-data-section-6">
                <span class="sales-data-key-sections">Total Sold Quantity</span>
                <span style="float: right; font-size: 1.1em;">{{salesDetail.totalSoldQuantity ? salesDetail.totalSoldQuantity : ''}}</span>
              </mat-card>
              <mat-card class="sales-data-section-7">
                <span class="sales-data-key-sections">Discount %</span>
                <span style="float: right; font-size: 1.1em;">{{salesDetail.overallDiscountPercentage ? salesDetail.overallDiscountPercentage : 0}} %</span>
              </mat-card>
              <mat-card class="sales-data-section-8">
                <span class="sales-data-key-sections">GST %</span>
                <span style="float: right; font-size: 1.1em;">{{salesDetail.gstPercentage ? salesDetail.gstPercentage : 0}} %</span>
              </mat-card>
              <mat-card class="sales-data-section-9">
                <span class="sales-data-key-sections">Transportation charges</span>
                <span style="float: right; font-size: 1.1em;">&#8377;&nbsp; {{salesDetail.transportCharges ? salesDetail.transportCharges : 0}}</span>
              </mat-card>
              <mat-card class="sales-data-section-10">
                <span class="sales-data-key-sections">Miscellaneous charges</span>
                <span style="float: right; font-size: 1.1em;">&#8377;&nbsp; {{salesDetail.miscCharges ? salesDetail.miscCharges : 0}}</span>
              </mat-card>
              <mat-card class="sales-data-section-11">
                <span class="sales-data-key-sections">Payment Terms</span>
                <span style="float: right; font-size: 1.1em;">{{salesDetail.paymentTerms ? salesDetail.paymentTerms : 0}} days</span>
              </mat-card>
              <div class="sales-data-section-12">
                <span class="sales-data-key-sections">Remarks</span>
                <span style="margin-left : 2%; font-size: 1em;">{{salesDetail.remarks ? salesDetail.remarks : '(blank)'}}</span>
              </div>
              
          </div>
          <mat-action-row>
              <button mat-button color="primary" (click)="onUpdateSale()">UPDATE</button>
              <button mat-button color="warn" (click)="onDeleteSale()"><mat-icon svgIcon="delete"></mat-icon></button>
          </mat-action-row>
        </mat-expansion-panel>
      <mat-expansion-panel (opened)="productPanelOpenState = true"
                    (closed)="productPanelOpenState = false">
        <mat-expansion-panel-header>
        <mat-panel-title>
            SALE PRODUCTS LIST
        </mat-panel-title>
        <mat-panel-description>
            {{productPanelOpenState ? '' : 'Expand to view sale product list'}}
        </mat-panel-description>
        </mat-expansion-panel-header>
        <div class="product-list-container">
          <table class="product-list-table">
            <thead>
              <tr>
                <th>Product Group</th>
                <th>Product Name</th>
                <th>Selling Price</th>
                <th>Quantity</th>
                <th>Amount</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let product of salesDetail.productList">
                  <td>{{product.productGroupName}}</td>
                  <td>{{product.productName}}</td>
                  <td>&#8377;&nbsp; {{product.price}}</td>
                  <td>{{product.quantity}}</td>
                  <td>&#8377;&nbsp; {{product.amount}}</td>
              </tr>
          </tbody>
            
            </table>
        </div>
        </mat-expansion-panel>
      <mat-expansion-panel *ngIf="salesDetail.returnedProductList.length > 0" (opened)="returnPanelOpenState = true"
                    (closed)="returnPanelOpenState = false">
        <mat-expansion-panel-header>
        <mat-panel-title>
            RETURN PRODUCTS LIST
        </mat-panel-title>
        <mat-panel-description>
            {{productPanelOpenState ? '' : 'Expand to view returned product list'}}
        </mat-panel-description>
        </mat-expansion-panel-header>
        <div class="product-list-container">
          <table class="product-list-table">
            <thead>
              <tr>
                <th>Product Group</th>
                <th>Product Name</th>
                <th>Selling Price</th>
                <th>Quantity</th>
                <th>Amount</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let product of salesDetail.returnedProductList">
                  <td>{{product.productGroupName}}</td>
                  <td>{{product.productName}}</td>
                  <td>&#8377;&nbsp; {{product.price}}</td>
                  <td>{{product.quantity}}</td>
                  <td>&#8377;&nbsp; {{product.amount}}</td>
              </tr>
          </tbody>
            
            </table>
        </div>
        </mat-expansion-panel>
    </mat-accordion>
</section>
<section class="sale-status-container">
  <mat-card>
    <app-sale-progress-tracker [saleData]="selectedSaleData" (refreshParent)="onRefresh()"></app-sale-progress-tracker>
  </mat-card>
</section>
<section class="sales-transact-table-section">
  <app-sales-transaction-table [selectedSaleData]="selectedSaleData"></app-sales-transaction-table>
<section class="sales-transact-total-section">
    <mat-card>
        <span>Total Payments</span>
        <span style="float: right; font-size: 1.1em;">&#8377; {{totalPaidAmount | number : '1.2-2'}}</span>
    </mat-card>
    <mat-card>
      <span>Total Price</span>
      <span style="float: right; font-size: 1.1em;">&#8377; {{salesDetail.totalPrice | number : '1.2-2'}}</span>
    </mat-card>
    <mat-card *ngIf="totalRefundAmount > 0">
      <span>Total Refund</span>
      <span style="float: right; font-size: 1.1em;">&#8377; {{totalRefundAmount | number : '1.2-2'}}</span>
    </mat-card>
    <mat-card [ngStyle]="{'background-color': (balanceAmount > 0) ? 'rgb(252,103,112)' : 'greenyellow'}">
        <span>Balance Amount</span>
        <span style="float: right; font-size: 1.1em;">&#8377; {{balanceAmount | number : '1.2-2'}}</span>
    </mat-card>
    <div class="sale-return-cancel-btn-container">
      <button mat-raised-button *ngIf="salesDetail.returnedProductList.length === 0" (click)="onInitiateReturn()">INITIATE RETURN</button>
      <button mat-raised-button *ngIf="salesDetail.returnedProductList.length > 0" (click)="onUpdateCancelReturn()">UPDATE / CANCEL RETURN</button>
      <button mat-raised-button *ngIf="!selectedSaleData.cancelledDate" color="warn" (click)="onCancelSale()">CANCEL SALE</button>
      <button mat-raised-button *ngIf="selectedSaleData.cancelledDate" style="background-color: rgb(140, 238, 140); color: black;" (click)="onCancelSale()">UNCANCEL SALE</button>
    </div>
    
</section>
</section>

