<h1 mat-dialog-title *ngIf="saleFlag">SALES</h1>
<h1 mat-dialog-title *ngIf="!saleFlag">PURCHASE</h1>

<!-- Product Details -->
<mat-dialog-content class="form-container" [formGroup]="form">
  
  <!-- Sale Data -->
  <div class="sale-transaction-details-container">
    <mat-form-field appearance="outline">
      <input matInput [min]="minTransactionDate" [matDatepicker]="picker" formControlName="transactionDate" placeholder="Transaction Date">
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>
    <div>
      <input class="timepicker" type="time" [value]="transactionTime" formControlName="transactionTime">
    </div>
    <mat-form-field appearance="outline" floatLabel="always">
        <mat-label>Total Price</mat-label>
        <input matInput type="number" class="price-right-align" formControlName="totalPrice" value="{{totalPrice}}"/>
        <span matPrefix>&#8377;&nbsp;</span>
      </mat-form-field>
  </div> 

  <!-- Payment Details -->
  <div class="payment-detail-container">
    <mat-form-field appearance="outline">
      <mat-label>Transaction Type</mat-label>
      <mat-select formControlName="transactionType" >
          <mat-option *ngFor="let transactionType of transactionTypeList" [value]="transactionType">
              {{transactionType}}
          </mat-option>
          </mat-select>
    </mat-form-field>

    <mat-form-field appearance="outline" floatLabel="always">
      <mat-label>Transaction Amount</mat-label>
      <input matInput type="number" class="price-right-align" formControlName="transactionAmount" value="{{transactionAmount}}"/>
      <span matPrefix>&#8377;&nbsp;</span>
    </mat-form-field>
  </div>

  <div class="remarks-details-container">
    <mat-form-field appearance="outline">
      <mat-label>Remarks</mat-label>
      <input matInput type="text" formControlName="remarks" value="{{remarks}}"/>
    </mat-form-field>
  </div>
  

</mat-dialog-content>

<div mat-dialog-actions *ngIf="editCreate !== 'Edit'" class="form-button-container">
  <button mat-button (click)="onNoClick()"><mat-icon svgIcon="close"></mat-icon></button>
  <button mat-button cdkFocusInitial (click)="onSave()" [style.background-color]="'#33b249'" [style.color]="'#ffffff'">CREATE TRANSACTION</button>
</div>
<div mat-dialog-actions *ngIf="editCreate === 'Edit'" class="form-button-edit-container">
  <button mat-button (click)="onNoClick()"><mat-icon svgIcon="close"></mat-icon></button>
  <button mat-button cdkFocusInitial (click)="onUpdate()" color="primary">UPDATE TRANSACTION</button>
  <button mat-button cdkFocusInitial (click)="onDelete()" color="warn"><mat-icon svgIcon="delete"></mat-icon></button>
</div>

