.logo-image > img {
    width: 45vw;
    height: 75vh;
    position: relative;
    top: 25%;
    left: 27%;
    margin-bottom: 0%;
    margin-top: 3%;
    right: auto;
}

.signin-container {
    margin: 2% auto;
    width: 20%;
    background-color: transparent;
    border: 0px solid black;
    box-shadow: none;
}
