.sales-button-section {
    height: 15%;
    width: 30%;
    float: right;
    margin-right: 3%;
    margin-top: 1%;
}

.sales-button-row{
    width: 50%;
    height: 50%;
    float: right;

    display: flex;
    flex-direction: row;

    justify-content: space-between;
    align-content: stretch;

    margin: 4% auto 8px auto;
  }

.sales-button-row > button:first-child {
    flex-grow: 1;
    margin-right: 10%;
    background-color: greenyellow;
}

.sales-button-row > button:nth-child(2) {
    flex-grow: 1;
}

.sales-table-section{
    height: 70%;
    width: 95%;
    margin: 1% auto 8px auto;
    overflow: auto;
}

table{
    width: 100%;
    color: black;

}

th{
    background-color: #e0e0e0;
    color: black;
}

td{
    color: black;
}

.mat-row .mat-cell {
    border-bottom: 1px solid transparent;
    border-top: 1px solid transparent;
    cursor: pointer;
  }

.mat-row:hover .mat-cell {
    border-color: currentColor;
}