<section class="sales-button-section">
    <div class="sales-button-row">
      <button mat-raised-button color="accent" (click)="openAddDialog()">ADD SALES</button>
      <button mat-raised-button color="warn" (click)="onRefresh()">REFRESH</button>
    </div>
</section>
<section class="sales-table-section">
  <table mat-table [dataSource]="dataSource" matSort (matSortChange)="announceSortChange($event)"
    class="mat-elevation-z8">

  <!-- Serial Number Column -->
  <ng-container matColumnDef="serial_number">
    <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by number">
      
    </th>
    <td mat-cell *matCellDef="let element"> {{element.serialNumber}} </td>
  </ng-container>

  <!-- Sales ID Column -->
  <ng-container matColumnDef="salesID">
    <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by name">
      Sales ID
    </th>
    <td mat-cell *matCellDef="let element"> {{element.productName}} </td>
  </ng-container>

  <!-- Purchaser Column -->
  <ng-container matColumnDef="purchaser">
    <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by group">
      Purchaser
    </th>
    <td mat-cell *matCellDef="let element"> {{element.group}} </td>
  </ng-container>

  <!-- Supplier Column -->
  <ng-container matColumnDef="supplier">
    <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by stock">
      Supplier
    </th>
    <td mat-cell *matCellDef="let element"> {{element.stock}} </td>
  </ng-container>

  <!-- Product Group Column -->
  <ng-container matColumnDef="productGroup">
    <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by price">
      Product Group
    </th>
    <td mat-cell *matCellDef="let element"> {{element.priceDirectSale}} </td>
  </ng-container>

  <!-- Product Name Column -->
  <ng-container matColumnDef="productName">
    <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by price">
      Product Name
    </th>
    <td mat-cell *matCellDef="let element"> {{element.priceReseller}} </td>
  </ng-container>

  <!-- Sale Type Column -->
  <ng-container matColumnDef="saleType">
    <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by price">
      Sale Type
    </th>
    <td mat-cell *matCellDef="let element"> {{element.priceDealer}} </td>
  </ng-container>

  <!-- Selling Price Column -->
  <ng-container matColumnDef="sellingPrice">
    <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by stock">
      Selling Price
    </th>
    <td mat-cell *matCellDef="let element"> {{element.sold}} </td>
  </ng-container>

  <!-- Sold Quantity Column -->
  <ng-container matColumnDef="soldQuantity">
    <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by date">
      Sold Quantity
    </th>
    <td mat-cell *matCellDef="let element"> {{element.createdDate}} </td>
  </ng-container>

  <!-- Total Amount Column -->
  <ng-container matColumnDef="totalAmount">
    <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by date">
      Total Amount
    </th>
    <td mat-cell *matCellDef="let element"> {{element.createdDate}} </td>
  </ng-container>

  <!-- Paid Amount Column -->
  <ng-container matColumnDef="paidAmount">
    <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by date">
      Paid Amount
    </th>
    <td mat-cell *matCellDef="let element"> {{element.createdDate}} </td>
  </ng-container>

  <!-- Balance Amount Column -->
  <ng-container matColumnDef="balanceAmount">
    <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by date">
      Balance Amount
    </th>
    <td mat-cell *matCellDef="let element"> {{element.createdDate}} </td>
  </ng-container>

  <!-- Remarks Column -->
  <ng-container matColumnDef="remarks">
    <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by date">
      Remarks
    </th>
    <td mat-cell *matCellDef="let element"> {{element.createdDate}} </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
  <tr 
      mat-row 
      *matRowDef="let row; columns: displayedColumns;"
      (click)="onRowClick(row)">
    </tr>
</table>
</section>
