.sales-button-section {
    height: 15%;
}

.sales-button-row{
    width: 90%;
    height: 50%;

    display: flex;
    flex-direction: row;

    justify-content: space-between;
    align-content: stretch;

    margin: 4% auto 8px auto;
  }

.sales-button-row > button:first-child {
    flex-grow: 7;
    margin-right: 10%;
}

.sales-button-row > button:nth-child(2) {
    flex-grow: 1;
}