<section class="product-details-sales-history-filter-section" style="font-size: 12px">
    <div class="filter-label">
        <span style="font-size: 1.5em">Filter</span>
    </div>
    <mat-form-field class="customer-filter-type table-filters" appearance="outline">
        <mat-select placeholder="by Customer" [(ngModel)]="selectedCustomerValue" name="customer" (selectionChange)="onFilterChange()">
          <mat-option *ngFor="let customer of customerList" [value]="customer">
            {{customer}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    <mat-form-field class="sale-filter-type table-filters" appearance="outline">
    <mat-select placeholder="by Sale Type" [(ngModel)]="selectedSaleTypeValue" name="saleType" (selectionChange)="onFilterChange()">
        <mat-option *ngFor="let saleType of saleTypeList" [value]="saleType">
        {{saleType}}
        </mat-option>
    </mat-select>
    </mat-form-field>
    <mat-form-field class="sale-status-filter-type table-filters" appearance="outline">
        <mat-select placeholder="by Sale Status" [(ngModel)]="selectedSaleStatusValue" name="saleStatus" (selectionChange)="onFilterChange()">
            <mat-option *ngFor="let saleStatus of saleStatusList" [value]="saleStatus">
            {{saleStatus}}
            </mat-option>
        </mat-select>
        </mat-form-field>
    <mat-form-field appearance="outline" class="sale-date-filter-type table-filters">
        <mat-label>by Sale Date range</mat-label>
        <mat-date-range-input [rangePicker]="rangePicker">
            <input matStartDate [(ngModel)]="selectedStartDate" placeholder="Start date">
            <input matEndDate [(ngModel)]="selectedEndDate" placeholder="End date">
        </mat-date-range-input>
        <mat-hint>MM/DD/YYYY – MM/DD/YYYY</mat-hint>
        <mat-datepicker-toggle matSuffix [for]="rangePicker"></mat-datepicker-toggle>
        <mat-date-range-picker #rangePicker>
            <mat-date-range-picker-actions>
            <button mat-button matDateRangePickerCancel>Cancel</button>
            <button mat-raised-button color="primary" matDateRangePickerApply (click)="onFilterChange()">Apply</button>
            </mat-date-range-picker-actions>
        </mat-date-range-picker>
        </mat-form-field>
    <button mat-flat-button color="accent" class="clear-filter-btn" (click)="onClearFilters()">
        Clear all filters
    </button>
    
</section>

<section class="product-details-sales-history-table-section">
    <table mat-table [dataSource]="dataSource" matSort (matSortChange)="announceSortChange($event)"
            class="mat-elevation-z8 sales-history-table">

        <!-- Serial Number Column -->
        <ng-container matColumnDef="serial_number">
            <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by number">
            
            </th>
            <td mat-cell *matCellDef="let element"> {{element.serialNumber}} </td>
        </ng-container>

        <!-- Purchaser Column -->
        <ng-container matColumnDef="customer">
            <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by customer">
            Customer
            </th>
            <td mat-cell *matCellDef="let element"> {{element.customer}} </td>
        </ng-container>

        <!-- Sale Type Column -->
        <ng-container matColumnDef="saleType">
            <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by price">
            Sale Type
            </th>
            <td mat-cell *matCellDef="let element"> {{element.saleType}} </td>
        </ng-container>

        <!-- Selling Price Column -->
        <ng-container matColumnDef="sellingPrice">
            <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by stock">
            Selling Price
            </th>
            <td mat-cell *matCellDef="let element"> &#8377; {{element.sellingPrice}} </td>
        </ng-container>

        <!-- Sold Quantity Column -->
        <ng-container matColumnDef="soldQuantity">
            <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by soldQuantity">
            Sold Quantity
            </th>
            <td mat-cell *matCellDef="let element"> {{element.sellingQuantity}} </td>
        </ng-container>

        <!-- Returned Quantity Column -->
        <ng-container matColumnDef="returnedQuantity">
            <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by returnedQuantity">
            Returned Quantity
            </th>
            <td mat-cell *matCellDef="let element"> {{element.returnedQuantity}} </td>
        </ng-container>

        <!-- Discount Column -->
        <ng-container matColumnDef="discount">
            <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by discount">
            Discount
            </th>
            <td mat-cell *matCellDef="let element"> {{element.discount}} % </td>
        </ng-container>

        <!-- Total Amount Column -->
        <ng-container matColumnDef="grossPrice">
            <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by grossPrice">
            Gross Price
            </th>
            <td mat-cell *matCellDef="let element"> &#8377; {{element.grossPrice}} </td>
        </ng-container>

        <!-- Sales Status Column -->
        <ng-container matColumnDef="salesStatus">
            <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by salesStatus">
            Sale Status
            </th>
            <td mat-cell *matCellDef="let element"> {{element.saleStatus}} </td>
        </ng-container>

        <!-- Date Column -->
        <ng-container matColumnDef="salesDate">
            <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by date">
            Sale Date
            </th>
            <td mat-cell *matCellDef="let element"> {{element.saleDate | date}} </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
        <tr 
            mat-row 
            @fadeOut
            *matRowDef="let row; columns: displayedColumns;"
            style="min-height: 100px !important;"
            (click)="onRowClick(row)">
            </tr>
        </table>        
  </section>
  <section class="export-btn-container">
    <button mat-flat-button color="primary" class="export-excel-btn" (click)="onExportAsExcel()">
        Export as Excel
    </button>
    <button mat-flat-button color="primary" class="export-pdf-btn">
        Export as PDF
    </button>
</section>

