<section class="client-details-button-section">
    <div class="client-details-button-row">
      <button mat-raised-button color="warn" (click)="onRefresh()"><mat-icon class="icon-display" svgIcon="refresh"></mat-icon></button>
      <button mat-icon-button (click)="onBack()"><mat-icon class="icon-display" svgIcon="back"></mat-icon></button>
    </div>
</section>
<section class="client-details-data-section">
    <mat-accordion>
        <mat-expansion-panel (opened)="panelOpenState = true"
                       (closed)="panelOpenState = false">
            <mat-expansion-panel-header>
            <mat-panel-title>
                {{panelTitle}}
            </mat-panel-title>
            <mat-panel-description>
                {{panelOpenState ? '' : 'Expand to update or delete Client data'}}
            </mat-panel-description>
            </mat-expansion-panel-header>
            <div class="client-details-data">
                <mat-card class="client-data-section-1">
                  <span class="client-data-key-sections">Client ID</span>
                  <span style="float: right; font-size: 1.1em;">{{(selectedClientID ? selectedClientID : '')}}</span>
                </mat-card>
                <mat-card class="client-data-section-2">
                    <span class="client-data-key-sections">Created Date</span>
                    <span style="float: right; font-size: 1.1em;">{{(selectedClientData.createdDate ? selectedClientData.createdDate : '') | date:'medium'}}</span>
                  </mat-card>
                <mat-card class="client-data-section-3">
                    <span class="client-data-key-sections">Client Name</span>
                    <span style="float: right; font-size: 1.1em;">{{selectedClientData.clientName ? selectedClientData.clientName : ''}}</span>
                  </mat-card>
                <mat-card class="client-data-section-4">
                    <span class="client-data-key-sections">Primary Contact</span>
                    <span style="float: right; font-size: 1.1em;">{{selectedClientData.contact1 ? selectedClientData.contact1 : ''}}</span>
                  </mat-card>
                <mat-card class="client-data-section-5">
                    <span class="client-data-key-sections">Secondary Contact</span>
                    <span style="float: right; font-size: 1.1em;">{{selectedClientData.contact2 ? selectedClientData.contact2 : '(blank)'}}</span>
                  </mat-card>
                <mat-card class="client-data-section-6">
                    <span class="client-data-key-sections">Landline</span>
                    <span style="float: right; font-size: 1.1em;">{{selectedClientData.landline ? selectedClientData.landline : '(blank)'}}</span>
                  </mat-card>
                <mat-card class="client-data-section-7">
                    <span class="client-data-key-sections">Email</span>
                    <span style="float: right; font-size: 1.1em;">{{selectedClientData.email ? selectedClientData.email : '(blank)'}}</span>
                  </mat-card>
                <mat-card class="client-data-section-8">
                    <span class="client-data-key-sections">Address</span>
                    <span style="float: right; font-size: 1.1em;">{{clientAddress ? clientAddress : '(blank)'}}</span>
                  </mat-card>
                <mat-card class="client-data-section-9">
                    <span class="client-data-key-sections">City / District</span>
                    <span style="float: right; font-size: 1.1em;">{{selectedClientData.city ? selectedClientData.city : ''}}</span>
                  </mat-card>
                <mat-card class="client-data-section-10">
                    <span class="client-data-key-sections">State / Province</span>
                    <span style="float: right; font-size: 1.1em;">{{selectedClientData.state ? selectedClientData.state : ''}}</span>
                  </mat-card>
                <mat-card class="client-data-section-11">
                    <span class="client-data-key-sections">Country</span>
                    <span style="float: right; font-size: 1.1em;">{{selectedClientData.country ? selectedClientData.country : ''}}</span>
                  </mat-card>
                <mat-card class="client-data-section-12">
                    <span class="client-data-key-sections">PIN Code</span>
                    <span style="float: right; font-size: 1.1em;">{{selectedClientData.pincode ? selectedClientData.pincode : ''}}</span>
                  </mat-card>
                <mat-card class="client-data-section-13">
                    <span class="client-data-key-sections">Description</span>
                    <span style="float: right; font-size: 1.1em;">{{selectedClientData.description ? selectedClientData.description : ''}}</span>
                  </mat-card>
                <mat-card class="client-data-section-14">
                    <span class="client-data-key-sections">Remarks</span>
                    <span style="float: right; font-size: 1.1em;">{{selectedClientData.remarks ? selectedClientData.remarks : ''}}</span>
                  </mat-card>
            </div>
            <mat-action-row>
                <button mat-button color="primary" (click)="onUpdateClient()">UPDATE</button>
                <button mat-button color="warn" (click)="onDeleteClient()"><mat-icon svgIcon="delete"></mat-icon></button>
            </mat-action-row>
        </mat-expansion-panel>
    </mat-accordion>
</section>
<section class="client-details-history-table-section">
    <app-sales *ngIf="selectedClientData.clientType === customerClientType" [selectedClientData]="selectedClientData"></app-sales>
    <app-purchase *ngIf="selectedClientData.clientType === supplierClientType" [selectedClientData]="selectedClientData"></app-purchase>
  </section>
