.price-right-align {
    text-align: right;
  }
  
  input.price-right-align::-webkit-outer-spin-button,
  input.price-right-align::-webkit-inner-spin-button {
    display: none;
  }
  
  input.price-right-align {
    -moz-appearance: textfield;
  }

.form-container  {
    display: flex;
    flex-direction: column;
    align-items: stretch;
  }

.payment-detail-container, .sale-transaction-details-contianer{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-content: stretch;
}

.payment-detail-container > mat-form-field, .sale-transaction-details-contianer > mat-form-field {
    flex-grow: 1;
}

.payment-detail-container > mat-form-field:first-child, .sale-transaction-details-contianer > mat-form-field:first-child {
    margin-right: 2%;
}

.remarks-details-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.remarks-details-container > mat-form-field{
  flex-grow: 1;
}

.form-button-container  {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: stretch;
}

.form-button-container > button:first-child {
    flex-grow: 1;
    margin-right: 10%;
}

.form-button-container > button:nth-child(2) {
    flex-grow: 7;
}