<section class="product-details-button-section">
    <div class="product-details-button-row">
      <button mat-raised-button color="warn" (click)="onRefresh()"><mat-icon class="icon-display" svgIcon="refresh"></mat-icon></button>
      <button mat-icon-button (click)="onBack()"><mat-icon class="icon-display" svgIcon="back"></mat-icon></button>
    </div>
</section>
<section class="product-details-data-section">
    <mat-accordion>
        <mat-expansion-panel (opened)="panelOpenState = true"
                       (closed)="panelOpenState = false">
            <mat-expansion-panel-header>
            <mat-panel-title>
                PRODUCT DATA
            </mat-panel-title>
            <mat-panel-description>
                {{panelOpenState ? '' : 'Expand to update or delete Product data'}}
            </mat-panel-description>
            </mat-expansion-panel-header>
            <div class="product-details-data">
                <mat-card class="product-data-section-1">
                    <span class="product-data-key-sections">Product ID</span>
                    <span style="float: right; font-size: 1.1em;">{{(productDetail.productID ? productDetail.productID : '')}}</span>
                  </mat-card>
                <mat-card class="product-data-section-2">
                    <span class="product-data-key-sections">Create Date</span>
                    <span style="float: right; font-size: 1.1em;">{{productDetail.createdDate ? productDetail.createdDate.toUTCString() : ''}}</span>
                  </mat-card>
                <mat-card class="product-data-section-3">
                    <span class="product-data-key-sections">Product Group</span>
                    <span style="float: right; font-size: 1.1em;">{{productDetail.productGroupName ? productDetail.productGroupName : ''}}</span>
                  </mat-card>
                <mat-card class="product-data-section-4">
                    <span class="product-data-key-sections">Product Name</span>
                    <span style="float: right; font-size: 1.1em;">{{productDetail.productName ? productDetail.productName : ''}}</span>
                  </mat-card>
                <mat-card class="product-data-section-5">
                    <span class="product-data-key-sections">Dealer Price</span>
                    <span style="float: right; font-size: 1.1em;">&#8377; {{productDetail.priceDealer ? productDetail.priceDealer : ''}}</span>
                  </mat-card>
                <mat-card class="product-data-section-6">
                    <span class="product-data-key-sections">Reseller Price</span>
                    <span style="float: right; font-size: 1.1em;">&#8377; {{productDetail.priceReseller ? productDetail.priceReseller : ''}}</span>
                  </mat-card>
                <mat-card class="product-data-section-7">
                    <span class="product-data-key-sections">Direct Sale Price</span>
                    <span style="float: right; font-size: 1.1em;">&#8377; {{productDetail.priceDirectSale ? productDetail.priceDirectSale : ''}}</span>
                  </mat-card>
                <mat-card class="product-data-section-8">
                    <span class="product-data-key-sections">In Production</span>
                    <span style="float: right; font-size: 1.1em;">{{productDetail.inProduction ? productDetail.inProduction : 0}}</span>
                  </mat-card>
                <mat-card class="product-data-section-9">
                    <span class="product-data-key-sections">Stock</span>
                    <span style="float: right; font-size: 1.1em;">{{productDetail.stock ? productDetail.stock : 0}}</span>
                  </mat-card>
                <mat-card class="product-data-section-10">
                    <span class="product-data-key-sections">In Sales Transit</span>
                    <span style="float: right; font-size: 1.1em;">{{productDetail.toBeSold ? productDetail.toBeSold : 0}}</span>
                  </mat-card>
                <mat-card class="product-data-section-11">
                    <span class="product-data-key-sections">Sold</span>
                    <span style="float: right; font-size: 1.1em;">{{productDetail.sold ? productDetail.sold : 0}}</span>
                  </mat-card>
                <mat-card class="product-data-section-12">
                    <span class="product-data-key-sections">Defective Quantity</span>
                    <span style="float: right; font-size: 1.1em;">0</span>
                  </mat-card>
                <mat-card class="product-data-section-13">
                    <span class="product-data-key-sections">Description</span>
                    <span style="float: right; font-size: 1.1em;">{{productDetail.description ? productDetail.description : ''}}</span>
                  </mat-card>
                <div class="product-data-section-14">
                    <span class="product-data-key-sections">Remarks</span>
                    <span style="margin-left : 2%; font-size: 1em;">{{productDetail.remarks ? productDetail.remarks : '(blank)'}}</span>
                  </div>
            </div>
            <mat-action-row>
                <button mat-button color="primary" (click)="onUpdateProduct()">UPDATE</button>
                <button mat-button color="warn" (click)="onDeleteProduct()"><mat-icon svgIcon="delete"></mat-icon></button>
            </mat-action-row>
        </mat-expansion-panel>
    </mat-accordion>
</section>
<section class="product-details-tab-section">
    <mat-tab-group dynamicHeight="true" class="product-details-tab-group">
        <mat-tab class="product-details-tab-section-one" label="Sales History">
            <app-product-sales-history-table class="product-details-tab-section-one" [selectedProductData]="selectedProductData"></app-product-sales-history-table>
        </mat-tab>
        <mat-tab class="product-details-tab-section-one" label="Production History"> Content 2 </mat-tab>
      </mat-tab-group>
</section>