table{
    width: 100%;
    color: black;
}

th{
    background-color: #e0e0e0;
    color: black;
}

td{
    color: black;
}

.mat-row .mat-cell {
    border-bottom: 1px solid transparent;
    border-top: 1px solid transparent;
    cursor: pointer;
  }

.mat-row:hover .mat-cell {
    border-color: currentColor;
}