.add-update-production-button-section {
    width: 15%;
    height: 10%;
    margin-left: 80%;
}

.add-update-production-button-row{
    width: 90%;
    height: 50%;

    display: flex;
    flex-direction: row;

    justify-content: space-between;
    align-content: stretch;

    margin: 8% auto 8px auto;
  }

.add-update-production-button-row > button:first-child {
    flex-grow: 1;
    margin-right: 2%;
}

.add-update-production-button-row > button:nth-child(2) {
    flex-grow: 0.7;
    height: 100%;
    border-radius: 5%;
    margin-left: 1%;
    background-color: #673BB7;
}

.add-update-production-add-entry-container {
    width: 95%;
    height: 12%;
}

.icon-display {
    transform: scale(1);
    color: white;
 }


.price-right-align {
    text-align: right;
  }
  
  input.price-right-align::-webkit-outer-spin-button,
  input.price-right-align::-webkit-inner-spin-button {
    display: none;
  }
  
  input.price-right-align {
    -moz-appearance: textfield;
  }

.add-update-production-container-one {
    width: 95%;
    height: 10%;
    margin: auto;
    display: flex;
    flex-direction: row;
    justify-content: stretch;
    align-content: space-around;
}

.add-update-production-container-one > mat-form-field,  .add-update-production-container-one > div{
    flex-grow: 1;
    margin-left: 1%;
    margin-right: 1%;
}

.add-update-production-container-one > div {
    width: 10%;
}

.add-material-button-container {
    height: 50%;
    margin-top: 0.3%;
    border-radius: 5%;
}

.add-material-button-container > button {
    width: 90%;
}

.add-update-production-add-entry-container {
    width: 95%;
    height: 18%;

    margin: auto;
    margin-top: 2%;
    display: flex;
    flex-direction: column;
    justify-content: stretch;
    align-content: space-around;

    overflow: hidden;
    border: 2px solid green;
    border-style: dashed;
}

.add-update-production-add-entry-container > mat-card {
    width: 100%;
}

.add-update-production-add-entry-container-row-one {
    display: flex;
    flex-direction: row;
}

.add-update-production-add-entry-container-row-one> mat-form-field:nth-child(1) {
    flex-grow: 1;
}

.add-update-production-add-entry-container-row-one > mat-form-field:nth-child(2) {
    flex-grow: 1;
    margin-right: 2%;
    margin-left: 2%;
}

.add-update-production-add-entry-container-row-one > mat-form-field:nth-child(3) {
    flex-grow: 1;
    margin-right: 2%;
}   

.add-update-production-add-entry-container-row-one > mat-form-field:nth-child(4) {
    flex-grow: 1; 
    margin-right: 2%;  
}

.add-update-production-add-entry-container-row-one > mat-form-field:nth-child(5) {
    flex-grow: 1;
    margin-right: 2%;   
}

.add-update-production-add-entry-container-row-one > mat-form-field:nth-child(6) {
    flex-grow: 1;
    margin-right: 2%; 
}

.add-update-production-add-entry-container-row-second{
    display: flex;
    flex-direction: row;
    width: 97%;
    justify-content: stretch;
    align-content: stretch;
}

.production-entry-total-price {
    flex: 0.5;
}

.production-entry-btn-container {
    float: right;
    display: flex;
    flex-direction: row;
    margin-right: 2%;
    width: 10%;

}

.production-entry-add-btn {
    flex-grow: 1;
    height: 80%;
    padding-bottom: 0.3%;
    margin-top: 0.5%;
    background-color: greenyellow;
}

.production-entry-cancel-btn {
    flex-grow: 1;
    margin-top: 0.5%;
}

.add-update-production-container-two {
    width: 95%;
    height: 68%;
    margin: auto;
    overflow: auto;

}

.add-update-production-container-three {
    width: 95%;
    height: 5%;
    margin: auto;

    display: grid;
    grid-template-columns: 70% 30%;
    grid-template-rows: auto;
    grid-column-gap: 0.5%;
    grid-row-gap: 0.5%;
}

.grid-element-1 {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
}

.grid-element-2 {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
}

.grid-element-2 > mat-card {
    vertical-align: middle;
    margin-top: 1%;
    padding-bottom: 4%;
    padding-top: 4%;
}

.material-list-table {
    box-shadow: none;
}

.material-list-table > table {
    width: 100%;
    margin-top: 2%;
}

.no-materials-div {
    width: 100%;
    margin-top: 2%;
    font-style: italic;
    text-align: center;
}