/* You can add global styles to this file, and also import other style files */
@import '@angular/material/prebuilt-themes/deeppurple-amber.css';
// @import '@angular/material/prebuilt-themes/indigo-pink.css';
// @import '@angular/material/prebuilt-themes/pink-bluegrey.css';
// @import '@angular/material/prebuilt-themes/purple-green.css';

@font-face {
    font-family: "Rajdhani";
    src: local("Rajdhani"), url(./assets/fonts/Indie_Flower/IndieFlower-Regular.ttf) format("truetype");
}

@font-face {
    font-family: "Revamped";
    src: local("Revamped"), url(./assets/fonts/revamped/Revamped.otf) format("truetype");
}

@font-face {
    font-family: "Typewriter";
    src: local("Typewriter"), url(./assets/fonts/another_typewriter/atwriter.ttf) format("truetype");
}

@font-face {
    font-family: "Fragment";
    src: local("Fragment"), url(./assets/fonts/fragment_core/Fragmentcore.otf) format("truetype");
}

body, html{
    height: 100%;
    margin: 0;
  }

.mat-tab-body-wrapper{
    flex-grow: 1;
}

.status-completed {
    font-size: 1.5em;
    font-family: Fragment;
    font-weight: 600;
    text-align: left;
    color: green;
    
}

.status-cancelled {
    font-size: 1.5em;
    font-family: Fragment;
    font-weight: 600;
    text-align: left;
    color: red;
}

.status-general {
    font-size: 1.5em;
    font-family: Fragment;
    font-weight: 100;
    text-align: left;
}