<section class="production-button-section">
  <div class="production-title">
    <span>PRODUCTION</span>
  </div>
  <div class="production-button-section-dummy-div">
  </div>
    <div class="production-button-row">
      <button mat-raised-button color="accent" (click)="onAddProduction()"><mat-icon class="icon-display" svgIcon="plus"></mat-icon></button>
      <button mat-raised-button color="warn" (click)="onRefresh()"><mat-icon class="icon-display" svgIcon="refresh"></mat-icon></button>
    </div>
</section>

<section class="production-filter-section" style="font-size: 12px">
  <div class="filter-label">
      <span style="font-size: 1.5em">Filter</span>
  </div>
  <mat-form-field class="production-product-group-filter-type table-filters" appearance="outline">
    <mat-select placeholder="by Product Group" [(ngModel)]="selectedProductGroupValue" name="productGroup" (selectionChange)="onFilterChange()">
        <mat-option *ngFor="let productGroup of productGroupList" [value]="productGroup">
        {{productGroup}}
        </mat-option>
    </mat-select>
    </mat-form-field>
  <mat-form-field class="production-product-name-filter-type table-filters" appearance="outline">
    <mat-select placeholder="by Product Name" [(ngModel)]="selectedProductNameValue" name="productName" (selectionChange)="onFilterChange()">
        <mat-option *ngFor="let productName of productNameList" [value]="productName">
        {{productName}}
        </mat-option>
    </mat-select>
    </mat-form-field>
  <mat-form-field class="production-status-filter-type table-filters" appearance="outline">
      <mat-select placeholder="by Production Status" [(ngModel)]="selectedProductionStatusValue" name="productionStatus" (selectionChange)="onFilterChange()">
          <mat-option *ngFor="let productionStatus of productionStatusList" [value]="productionStatus">
          {{productionStatus}}
          </mat-option>
      </mat-select>
      </mat-form-field>
  <mat-form-field appearance="outline" class="production-date-filter-type table-filters">
      <mat-label>by Production Date range</mat-label>
      <mat-date-range-input [rangePicker]="rangePicker">
          <input matStartDate [(ngModel)]="selectedStartDate" placeholder="Start date">
          <input matEndDate [(ngModel)]="selectedEndDate" placeholder="End date">
      </mat-date-range-input>
      <mat-hint>MM/DD/YYYY – MM/DD/YYYY</mat-hint>
      <mat-datepicker-toggle matSuffix [for]="rangePicker"></mat-datepicker-toggle>
      <mat-date-range-picker #rangePicker>
          <mat-date-range-picker-actions>
          <button mat-button matDateRangePickerCancel>Cancel</button>
          <button mat-raised-button color="primary" matDateRangePickerApply (click)="onFilterChange()">Apply</button>
          </mat-date-range-picker-actions>
      </mat-date-range-picker>
      </mat-form-field>
  <button mat-flat-button color="accent" class="clear-filter-btn" (click)="onClearFilters()">
      Clear all filters
  </button>
  
</section>

<section [ngStyle]="{'height': (dataSource.data.length > 0) ? '70%' : '10%'}" class="production-table-section">
  <table mat-table [dataSource]="dataSource" matSort (matSortChange)="announceSortChange($event)"
    class="mat-elevation-z8">

  <!-- Serial Number Column -->
  <ng-container matColumnDef="serial_number">
    <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by number">
      
    </th>
    <td mat-cell *matCellDef="let element"> {{element.serialNumber}} </td>
  </ng-container>

    <!-- Production Date Column -->
    <ng-container matColumnDef="productionDate">
        <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by date">
            Production Date
        </th>
        <td mat-cell *matCellDef="let element"> {{element.productionDate | date:'medium'}} </td>
    </ng-container>

  <!-- Product Name Column -->
  <ng-container matColumnDef="product_name">
    <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by name">
        Product Name
    </th>
    <td mat-cell *matCellDef="let element"> {{element.product.productName}} </td>
    </ng-container>

    <!-- Product Group Column -->
    <ng-container matColumnDef="group">
    <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by group">
        Product Group
    </th>
    <td mat-cell *matCellDef="let element"> {{element.product.productGroup.productGroupName}} </td>
  </ng-container>

  <!-- Production Quantity Column -->
  <ng-container matColumnDef="productionQuantity">
    <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by sold productionQuantity">
      Quantity
    </th>
    <td mat-cell *matCellDef="let element"> {{element.productionQuantity}} </td>
  </ng-container>

  <!-- Production Status Column -->
  <ng-container matColumnDef="productionStatus">
    <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by productionStatus">
        Production Status
    </th>
    <td mat-cell *matCellDef="let element" [ngClass]="{'status-completed': element.productionStatusCompleteFlag,
                                                        'status-cancelled':element.productionStatusCancelledFlag,
                                                        'status-general': !element.productionStatusCancelledFlag && !element.purchaseStatusCompleteFlag}"> {{element.productionStatus}} </td>
  </ng-container>

  <!-- Remarks Column -->
  <ng-container matColumnDef="remarks">
    <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by remarks">
      Remarks
    </th>
    <td mat-cell *matCellDef="let element"> {{element.remarks}} </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
  <tr 
      mat-row 
      *matRowDef="let row; columns: displayedColumns;"
      (click)="onRowClick(row)">
    </tr>
</table>
</section>
<div class="no-production-div" *ngIf="!dataSource.data.length">
  No production added yet..
</div>

<section class="export-btn-container">
  <button mat-flat-button color="primary" class="export-excel-btn" (click)="onExportAsExcel()">
      Export as Excel
  </button>
  <button mat-flat-button color="primary" class="export-pdf-btn">
      Export as PDF
  </button>
</section>
